<!-- updatePassword.html -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Password Update</title>
</head>
<body>
<div>
  <h1>Password Update</h1>
  <form th:action="@{/updatePassword}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="enabled" th:value="${user.enabled}"/>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required/>
    <input type="submit" value="Update"/>
  </form>
</div>
</body>
</html>
